.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Background image and image height */
.sctn{

     background-image: url(../images/Hero-bg.png);
     height: 698px;
     margin-bottom: 116px;
}
section nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
    padding: 50px;
}
.logo{
    color: #4E47FF;
    font-size: 36px;
}

/* sign up button */
.btn{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    color: white;
    margin: 12px 36px;
    border-radius: 10px;
    font-size: 36px;
    border: none;
    padding: 12px 36px;
    list-style-type: none;
}
.sctn li{
    list-style-type: none;
}
.part-2 li{
    list-style-type: none;
}
.font-Raleway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.center-text{
    font-size: 65px;
}
.gap{
    margin: 6998px 1440px;
}
.part-2{
    align-items: center;
    text-align: center;
    height: 237px;
    width: 905px;
    margin: auto;
}
.action img{
    border-radius: 30px;
}
.action{
    align-items: center;
    display: flex;
    height: 328px;
    width: 1140px;
    justify-content: space-between;
    margin: auto;
    margin-top: auto;
    margin-bottom: 116px;
    margin-right: auto;
    margin-left: auto;
    
}
.action-section{
    display: block;
    /* margin: 62px 62px 0px 623px; */
    margin-top: 62px;
    margin-bottom: 62px;
    margin-right: 125px;
    margin-left: 0px;
    /* background-color: aqua; */
    

}
/* action 2 paragraph size */

.parasize{

    font-size: 24px;
}
.action-size{
    font-size: 42px;
    font-weight: bold;
}
.action .btnaction{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    color: white;
    
    border-top: 155px;
    border-bottom: 0px;
    border-right: 288px;
     border-left: 0px;
    border-radius: 10px;
    font-size: 36px;
    border: none;
    padding: 12px 36px;
    list-style-type: none;
}
.productive{
    align-items: center;
    height: 306px;
    width: 1140px;
    margin-top: auto;
    margin-bottom: 116px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(78, 71, 255, 0.12);
    border-radius: 20px;
}
.production-margin{
    margin: 50px 142px 50px 142px;
    
}
.subtitle{
    justify-content: space-around;
    display: flex;
}
.p-size{
    padding-top: 50px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;

}
.item-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    text-align: center;
    
    margin-top: 0px;
    margin-bottom: 0px;
}
.item{
    
}
.item-description{
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    
}

.font-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.review{
    align-items: center;
    height: 342px;
    width: 1140px;
    margin-top: auto;
    margin-bottom: 147px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: rgba(78, 71, 255, 0.12); */
    border-radius: 10px;
    /* background-color: yellow; */
}
.revfont{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    /* background-color: chocolate; */

}

.rev{
    height: 81px;
    width: 318.67px;
    /* background-color:yellow; */
}
.revsection img{
    height: 20px;
    width: 20px;
}
.imflex{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width:116px ;
    
}
.rev p{
    height: 44px;
    width: 318.67px;
    margin: auto;
}
.revsection{
    padding-top: 10px;
    padding-bottom: 24px;
    width: 366.67px;
    padding-left: 24px;
    background-color:white;
    border-radius: 10px;
    display: block;
    margin: auto;
    /* background-color: blueviolet; */
}
.reviewflex{
    display: flex;
    height: 243px;
    width: 1140px;
    gap: 20px;
}
.designer{
    font-size: 24px;
    font-weight: bold;
}
.end{
    height: 46px;
    width:318.67px ;
    /* background-color: darkolivegreen; */
    gap: 12px;
    display: flex;
    justify-content: left;
}
.border-remove input{
    border: none;
}
.review .avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.focus{
    height: 697px;
    width: 1140px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 116px;
    background-color: white;
    
}
.focus-font{

    height: 60px;
    width: 516px;
    padding-top: 71px;
    margin-top: 71px;
    margin-right: 312px;
    margin-left: 312px;
    margin-bottom: 0px;
    font-size: 50px;
    text-wrap: wrap;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    
}
.focus-paragraph{
    margin-top: 20px;
    text-align: center;

}
.focusbtn{

    height: 48px;
    width: 195px;
    margin-top: 20px;
    margin-right: 472.5px;
    margin-left: 472.5px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    list-style-type: none;
    background-color: #4E47FF;
}
.focus-image{
    height: 364.77px;
    width: 840px;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    display: block;
}
.secondary-bg{
    /* background-color: aqua; */
    width: 1140px;
    height: 632px;
    margin-top: auto;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    

}
footer{
    display: flex;
    justify-content: space-between;
    background-color: 
}
.footer-column p{
    
    text-align: left;
    justify-content: left;
    padding-top: 100px;    
}
footer input[type="text"],footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom:24px ;
    border: 0px;
}
.touchbtn{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    color: white;
    height: 62px;
    width: 497px;
    border-top: 19px;
    border-bottom: 19px;
    border-right: auto;
    border-left: 201px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    padding: 12px 36px;
    list-style-type: none;
}
.section-title{
    font-size: 97px;
    height: 232px;
    width: 600px;
    text-align: left;
    align-items:left;
}
.footer-column-input{
    /* background-color: crimson; */
    padding-top: 71px;
    padding-bottom: 71px;
    padding-right: 0px;
    padding-left: 0px;
    height: 490px;
    width: 497px;
   

}
.biglogo{
    font-size: 10px;
    height: 121px;
    width: 291px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom:0px;
    text-align: center;
    color: #4E47FF;
}
.productive-logo{
    align-items: center;
    height: 221px;
    width: 531px;
    margin-top: auto;
    margin-bottom: 116px;
    margin-right:455px;
    margin-left: 455px;
    background-color: rgba(78, 71, 255, 0.12);
    border-radius: 10px;

}
.subtitle{
    display: flex;
    justify-content: space-between;
}
.last-section{
    background-color: white;
    width: 1140px;
    height: 221px;
    margin-top: 104PX;
    margin-bottom: 116px;
    margin-right: auto;
    margin-left: auto; 
    
}
.logoend{
    height: 121px;
    width: 291px;
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: chocolate; */
}
.align-p{
    text-align: center;
    align-items: center;
    height: 40px;
    width: 531px;
    padding-bottom: 0px;
    /* background-color: blue; */
}
.lower-end{
    font-size: 5px;
    padding-top: 0px;
    height: 24px;
    width: 401px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
   
    justify-content: space-between;
    /* background-color: chocolate; */
}
.lowertag{
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    
}
body{
    background-color: rgb(248, 245,255);   
}
.sizing input{
    max-width: 460px;

}
.sizing textarea{
    max-width: 460px;

}
.others-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
  color: rgba(37, 36, 50, 0.5);
  font-variation-settings:
    "wdth" 100;
}
.logocenter{
    text-align: center;
    padding: ;
}

